In [24]:
#Check to see if gpu is available, should print 1
import tensorflow as tf
print("Num GPUs Available:", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available: 1

In [16]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv("train.csv")
df.head(10)

             cuneiform lang
0  𒃻𒋻𒃻𒍜𒋾𒅅𒅟𒈨𒌍𒃻𒇽𒍑𒆪𒈨𒌍𒌗𒋢𒈨𒌍  LTB
1         𒊹𒌋𒀀𒈨𒌍𒋙𒊹𒈪𒋻𒋾𒅅𒅟  LTB
2                𒊹𒀀𒃻𒊹𒊹  LTB
3                𒊹𒀀𒃻𒊹𒊹  LTB
4            𒊹𒌋𒊹𒀀𒈨𒌍𒃻𒊹𒈦  LTB
5       𒀀𒋙𒃻𒁹𒀭𒈾𒈾𒀀𒈬𒀀𒃻𒊹𒈪𒋻  LTB
6             𒊹𒀀𒃻𒊹𒊹𒈨𒌍𒋡  LTB
7  𒊹𒀀𒃻𒁹𒉡𒌨𒌋𒊹𒀀𒃻𒁹𒀭𒌓𒈬𒉡𒊹𒊹𒋫𒊹  LTB
8        𒉽𒊹𒋾𒅅𒅟𒃻𒇻𒀴𒀭𒋙𒄿𒋻𒊑  LTB
9             𒍜𒋾𒅅𒅟𒈨𒌍𒃻𒄞  LTB

In [20]:
df.tail(10)

       cuneiform lang
139411      𒄑𒀳𒋗𒌌  SUX
139412     𒄑𒀳𒋗𒉡𒌌  SUX
139413      𒄑𒀳𒄭𒆥  SUX
139414     𒄑𒀳𒀠𒍣𒊏  SUX
139415       𒄑𒀳𒋗  SUX
139416      𒄑𒀳𒋗𒌌  SUX
139417     𒄑𒀳𒋗𒉡𒌌  SUX
139418      𒄑𒀳𒄭𒆥  SUX
139419     𒄑𒀳𒀠𒍣𒊏  SUX
139420       𒄑𒀳𒋗  SUX

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139421 entries, 0 to 139420
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   cuneiform  139421 non-null  object
 1   lang       139421 non-null  object
dtypes: object(2)
memory usage: 2.1+ MB

In [21]:
df.lang.value_counts()

lang
SUX    53673
NEA    32966
STB    17817
LTB    15947
NEB     9707
MPB     5508
OLB     3803
Name: count, dtype: int64

In [19]:
#Describe, 7 Different languages, 3223 samples are just the black circle, which is cuneiform for 3,600 or many or totality or world
#Cuneiform uses a 6 based numbering system, so 3,600 is 60*60 and not an arbitrary number or a dataset mistake
df.describe()

       cuneiform    lang
count     139421  139421
unique     86454       7
top            𒊹     SUX
freq        3223   53673

In [17]:
#Stratify and split, 80% train, 20% test
X_train, X_test = train_test_split(df,test_size=.2,stratify=df['lang'])

In [18]:
#Print sizes, only two labels, the cuneiform text and the language
print("X train shape -", X_train.shape)
print("X test shape -", X_test.shape)
print(X_train.head())
print(X_test.head())

X train shape - (111536, 2)
X test shape - (27885, 2)
        cuneiform lang
22053   𒆳𒈗𒈨𒌍𒆳𒀀𒁉𒋳𒈠  MPB
137497       𒀠𒁯𒊏𒄷  SUX
108739      𒅆𒋾𒆠𒅋𒈬  SUX
127456         𒁹𒋾  SUX
95864      𒋁𒈧𒋫𒌓𒁺𒀀  SUX
       cuneiform lang
90819       𒀭𒁰𒌉𒁕  SUX
82505    𒌑𒄾𒆸𒄭𒁉𒌍𒋙  STB
9846         𒉌𒌓𒈩  LTB
120412        𒆏𒊬  SUX
24972         𒈨𒌍  MPB

In [22]:
# Create your labels for each dataset, which would be the language
y_train = X_train['lang'].copy()
X_train.drop('lang', axis=1, inplace=True)

y_test = X_test['lang'].copy()
X_test.drop('lang', axis=1, inplace=True)